div.blkExpr {
  display: inline-block;
  border-radius: 5px;
  position: relative;
  color: white;
  text-shadow: black 1px 1px 1px;
}

div.blkExpr div.blkIpe {
  float: left;
  margin: 0px 3px 0px 3px;
}

div.blkExpr div.leftArrow {
  float: left;
  display: inline-block;
}

div.blkExpr div.rightArrow {
  float: left;
  display: inline-block;
}

