div.basicBlock {
  border-radius: 5px;
  display: inline-block;
  position: relative;
  color: white;
  text-shadow: black 1px 1px 1px;
  border-radius: 5px
}

div.relativeBlock {
  display: inline-block;
}

div.basicBlock .bd {
  position: absolute; 
  white-space: nowrap;
  padding: 10px;
}
